/* @author Bilal Cinarli */

/** -------------------------------------------
    Icons
    ------------------------------------------- **/
.icon-facebook:before {
    content: "\ea8c";
}

.icon-twitter:before {
    content: "\ea91";
}

.icon-github:before {
    content: "\eab1";
}

.icon-linkedin:before {
    content: "\eac9";
}

.icon-lab:before {
    content: "\e600";
}

.icon-tie:before {
    content: "\e601";
}

.icon-box:before {
    content: "\e602";
}

.icon-chat:before {
    content: "\e603";
}

.icon-ruler:before {
    content: "\e604";
}