/* @author Bilal Cinarli */

/** -------------------------------------------
    Logo
    ------------------------------------------- **/
.logo {
    @include center-vertical();
    color: #222;
    text-decoration: none;

    &-image {
        display: inline-block;
        @include dims(60px);
        border-radius: 50%;
        background: url('../images/photo.jpg') center no-repeat;
        background-size: 100%;
        vertical-align: middle;
        opacity: 0;

        @media screen and (max-width: 480px) {
            margin-left: $base-gutter/2;
        }
    }

    &-name {
        opacity: 0;
    }

    .is-scrolled & {
        .logo-image {
            opacity: 1;
        }

        @media screen and (min-width: 481px) {
            .logo-name {
                opacity: 1;
            }
        }
    }
}