/* @author Bilal Cinarli */

/** -------------------------------------------
    Content Sections
    ------------------------------------------- **/
.page-section {
    position: relative;

    &:after {
        content: "";
        @include center-horizontal();
        bottom: 0;
        @include dims(200px, 2px);
        border-radius: 5px;
        background-color: rgba(0, 0, 0, .3);
    }

    &:last-child {
        &:after {
            display: none;
        }
    }
}

.section {
    &-content {
        padding: 2*$base-gutter 0;
        @include font-size(24px);

        a {
            color: $base-anchor-color;
        }

        @media screen and (max-width: 980px) {
            padding: 2*$base-gutter 2*$base-gutter 0;
        }
    }

    &-title {
        @include font-size(30px);
        text-align: center;
    }
}