/* @author Bilal Cinarli */

/** -------------------------------------------
    Social Personas
    ------------------------------------------- **/
.social {
    &-personas {
        padding-top: $base-gutter;
    }

    &-persona {
        @include dims(32px);
        padding: 0;
        margin-right: 10px;
        @include font-size(24px);
        line-height: 34px;
        color: #fff;
        text-align: center;
        vertical-align: top;

        &.github {
            @include font-size(32px);
            color: map-get($social-colors, github);
            text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        }

        &.twitter {
            padding-top: 2px;
            border-radius: 50%;
            background-color: map-get($social-colors, twitter);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
            @include font-size(20px);
        }

        &.linkedin {
            border-radius: 4px;
            background-color: map-get($social-colors, linkedin);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        }
    }
}