/* @author Bilal Cinarli */

/** -------------------------------------------
    Page
    ------------------------------------------- **/
* {
    &,
    &:after,
    &:before {
        @include app-transition();
    }
}

.content-holder {
    position: relative;
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 600px){
    .columns {
        float: none;
    }

    .one-third,
    .two-thirds {
        width: 100%;
    }
}