/* @author Bilal Cinarli */

/** -------------------------------------------
    Fields
    ------------------------------------------- **/
.form-elements {
    li {
        margin-bottom: 5px;
    }

    .buttons {
        padding-left: 145px;
    }

    [class*="-field"] {
        border-radius: 3px;
    }
}

.text-field {
    width: 300px;
}

.message-field {
    width: 400px;
    height: 100px;
}

.note {
    text-align: center;
    font-style: italic;

    p {
        margin: 0 0 5px;
    }
}

@media screen and (max-width: 600px) {
    .text-field,
    .message-field {
        width: 100%;
    }

    .buttons {
        padding: 0;
        text-align: right;
    }
}