/* @author Bilal Cinarli */

/** -------------------------------------------
    Labels
    ------------------------------------------- **/
.item {
    @media screen and (max-width: 600px) {
        display: block;
    }

    &-label {
        width: 140px;
        padding-right: 5px;
        @include font-size(18px);
        text-align: right;
        vertical-align: top;

        @media screen and (max-width: 800px) and (orientation: portrait) {
            display: block;
            text-align: left;
        }
    }

    &-hint {
        @include font-size(14px);
        font-style: italic;
    }
}